* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#logoImageMobile {
  height: 3.5rem;
  display: block;
  transition: all 0.3s ease;
}

#logoImageMobile:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
}

#logoImageDesktop {
  display: none;
}

.navbarIcons {
  width: 2rem;
  transition: all 0.3s ease;
}

.navbarIcons:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
}

.bellIcons {
  width: 3rem;
  transition: all 0.3s ease;
}

.bellIcons:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
}

#navbarLinks {
  display: none;
}

#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

/* version tablet/desktop */

@media (min-width: 450px) {
  #headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    min-width: 600px;
  }

  #logoImageMobile {
    display: none;
  }

  #logoImageDesktop {
    height: 4.0rem;
    display: block;
    transition: all 0.3s ease;
  }

  #logoImageDesktop:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
  }

  #navbarLinks {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
  }

  .footerLinks:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
  }

  .navbarIcons {
    width: 2rem;
    transition: all 0.3s ease;
  }

  .navbarIcons:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
  }

  .bellIcons {
    width: 3rem;
    transition: all 0.3s ease;
  }

  .bellIcons:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
  }
}
